In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('C:/Users/ariad/Desktop/Python/Módulo 3/DelayedFlights.csv.zip')

In [7]:
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [8]:
pd.set_option('display.max_columns', None)
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [9]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [11]:
df.CancellationCode.unique()

array(['N', 'A', 'B', 'C'], dtype=object)

In [12]:
df.isnull().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1936758.0,3.341651e+06,2.066065e+06,0.0,1517452.5,3242558.0,4972466.75,7009727.0
Year,1936758.0,2.008000e+03,0.000000e+00,2008.0,2008.0,2008.0,2008.00,2008.0
Month,1936758.0,6.111106e+00,3.482546e+00,1.0,3.0,6.0,9.00,12.0
DayofMonth,1936758.0,1.575347e+01,8.776272e+00,1.0,8.0,16.0,23.00,31.0
DayOfWeek,1936758.0,3.984827e+00,1.995966e+00,1.0,2.0,4.0,6.00,7.0
DepTime,1936758.0,1.518534e+03,4.504853e+02,1.0,1203.0,1545.0,1900.00,2400.0
CRSDepTime,1936758.0,1.467473e+03,4.247668e+02,0.0,1135.0,1510.0,1815.00,2359.0
ArrTime,1929648.0,1.610141e+03,5.481781e+02,1.0,1316.0,1715.0,2030.00,2400.0
CRSArrTime,1936758.0,1.634225e+03,4.646347e+02,0.0,1325.0,1705.0,2014.00,2400.0
FlightNum,1936758.0,2.184263e+03,1.944702e+03,1.0,610.0,1543.0,3422.00,9742.0
ActualElapsedTime,1928371.0,1.333059e+02,7.206007e+01,14.0,80.0,116.0,165.00,1114.0
CRSElapsedTime,1936560.0,1.343027e+02,7.134144e+01,-25.0,82.0,116.0,165.00,660.0
AirTime,1928371.0,1.082771e+02,6.864261e+01,0.0,58.0,90.0,137.00,1091.0
ArrDelay,1928371.0,4.219988e+01,5.678472e+01,-109.0,9.0,24.0,56.00,2461.0
DepDelay,1936758.0,4.318518e+01,5.340250e+01,6.0,12.0,24.0,53.00,2467.0
Distance,1936758.0,7.656862e+02,5.744797e+02,11.0,338.0,606.0,998.00,4962.0
TaxiIn,1929648.0,6.812975e+00,5.273595e+00,0.0,4.0,6.0,8.00,240.0
TaxiOut,1936303.0,1.823220e+01,1.433853e+01,0.0,10.0,14.0,21.00,422.0
Cancelled,1936758.0,3.268348e-04,1.807562e-02,0.0,0.0,0.0,0.00,1.0
Diverted,1936758.0,4.003598e-03,6.314722e-02,0.0,0.0,0.0,0.00,1.0
CarrierDelay,1247488.0,1.917940e+01,4.354621e+01,0.0,0.0,2.0,21.00,2436.0
WeatherDelay,1247488.0,3.703571e+00,2.149290e+01,0.0,0.0,0.0,0.00,1352.0
NASDelay,1247488.0,1.502164e+01,3.383305e+01,0.0,0.0,2.0,15.00,1357.0
SecurityDelay,1247488.0,9.013714e-02,2.022714e+00,0.0,0.0,0.0,0.00,392.0
LateAircraftDelay,1247488.0,2.529647e+01,4.205486e+01,0.0,0.0,8.0,33.00,1316.0

In [14]:
columnes_a_mantenir = ['DepTime', 'CRSDepTime','ArrTime','CRSArrTime','UniqueCarrier','FlightNum','ActualElapsedTime','CRSElapsedTime','Cancelled','Diverted','AirTime','ArrDelay']
df1 = df[columnes_a_mantenir]
df1_reduit = df1.sample(n=200000, random_state=3)
df1_reduit

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,Cancelled,Diverted,AirTime,ArrDelay
696875,1929.0,1900,2249.0,2220,AA,874,140.0,140.0,0,0,116.0,29.0
653235,804.0,720,1020.0,947,DL,1633,76.0,87.0,0,0,60.0,33.0
573567,1951.0,1927,2230.0,2200,DL,1859,339.0,333.0,0,0,315.0,30.0
853582,630.0,620,NaN,1150,AA,1242,NaN,210.0,0,1,NaN,NaN
1730608,1144.0,940,1355.0,1204,DL,906,131.0,144.0,0,0,103.0,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1531395,2139.0,2125,2242.0,2230,WN,529,63.0,65.0,0,0,42.0,12.0
704967,1759.0,1750,2000.0,2005,AA,1983,181.0,195.0,0,0,150.0,-5.0
1391020,1655.0,1540,1758.0,1650,AA,838,63.0,70.0,0,0,37.0,68.0
1097289,1333.0,1315,1501.0,1445,WN,3333,88.0,90.0,0,0,76.0,16.0
918263,2113.0,2025,2219.0,2125,WN,437,66.0,60.0,0,0,47.0,54.0

In [15]:
df1_reduit[df1_reduit['ArrDelay']<15].shape[0]

70355

In [16]:
df1_reduit[df1_reduit['ArrDelay']<15].shape[1]

12

In [17]:
df1_reduit.Cancelled.value_counts()

Cancelled
0    199917
1        83
Name: count, dtype: int64

In [18]:
df1_reduit.Diverted.value_counts()

Diverted
0    199202
1       798
Name: count, dtype: int64

In [19]:
df1_reduit.Diverted.value_counts()[1]+df1_reduit.Cancelled.value_counts()[1]

881

In [20]:
df1_reduit['ArrDelay'].isnull().sum()

881

In [21]:
df1_reduit.ArrDelay[df['ArrDelay']<15]=0
df1_reduit[df1_reduit['ArrDelay']<15]

C:\Users\ariad\AppData\Local\Temp\ipykernel_132\3555409680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_reduit.ArrDelay[df['ArrDelay']<15]=0

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,Cancelled,Diverted,AirTime,ArrDelay
446928,1340.0,1332,1617.0,1611,OO,6386,97.0,99.0,0,0,69.0,0.0
1869744,1554.0,1540,1810.0,1805,MQ,3700,76.0,85.0,0,0,63.0,0.0
1361089,1122.0,1106,1310.0,1259,FL,648,108.0,113.0,0,0,92.0,0.0
768263,1021.0,1008,1147.0,1138,YV,7141,86.0,90.0,0,0,64.0,0.0
1445156,1623.0,1615,1826.0,1825,WN,297,123.0,130.0,0,0,108.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1162271,941.0,935,1221.0,1238,US,969,340.0,363.0,0,0,318.0,0.0
1493147,831.0,825,1032.0,1035,MQ,4107,61.0,70.0,0,0,45.0,0.0
1728825,1446.0,1430,1617.0,1612,CO,137,211.0,222.0,0,0,192.0,0.0
1531395,2139.0,2125,2242.0,2230,WN,529,63.0,65.0,0,0,42.0,0.0
704967,1759.0,1750,2000.0,2005,AA,1983,181.0,195.0,0,0,150.0,0.0

In [22]:
df1_reduit=df1_reduit[(df1_reduit.Cancelled==0)&(df.Diverted==0)]
df1_reduit

C:\Users\ariad\AppData\Local\Temp\ipykernel_132\147594306.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1_reduit=df1_reduit[(df1_reduit.Cancelled==0)&(df.Diverted==0)]

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,Cancelled,Diverted,AirTime,ArrDelay
696875,1929.0,1900,2249.0,2220,AA,874,140.0,140.0,0,0,116.0,29.0
653235,804.0,720,1020.0,947,DL,1633,76.0,87.0,0,0,60.0,33.0
573567,1951.0,1927,2230.0,2200,DL,1859,339.0,333.0,0,0,315.0,30.0
1730608,1144.0,940,1355.0,1204,DL,906,131.0,144.0,0,0,103.0,111.0
953256,1409.0,1214,1533.0,1333,OO,5877,144.0,139.0,0,0,119.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1531395,2139.0,2125,2242.0,2230,WN,529,63.0,65.0,0,0,42.0,0.0
704967,1759.0,1750,2000.0,2005,AA,1983,181.0,195.0,0,0,150.0,0.0
1391020,1655.0,1540,1758.0,1650,AA,838,63.0,70.0,0,0,37.0,68.0
1097289,1333.0,1315,1501.0,1445,WN,3333,88.0,90.0,0,0,76.0,16.0
918263,2113.0,2025,2219.0,2125,WN,437,66.0,60.0,0,0,47.0,54.0

In [23]:
df1_reduit.isnull().sum()

DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
ActualElapsedTime    0
CRSElapsedTime       0
Cancelled            0
Diverted             0
AirTime              0
ArrDelay             0
dtype: int64

In [24]:
df1_reduit.duplicated().sum()

20

In [25]:
df1_reduit.drop_duplicates()

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,Cancelled,Diverted,AirTime,ArrDelay
696875,1929.0,1900,2249.0,2220,AA,874,140.0,140.0,0,0,116.0,29.0
653235,804.0,720,1020.0,947,DL,1633,76.0,87.0,0,0,60.0,33.0
573567,1951.0,1927,2230.0,2200,DL,1859,339.0,333.0,0,0,315.0,30.0
1730608,1144.0,940,1355.0,1204,DL,906,131.0,144.0,0,0,103.0,111.0
953256,1409.0,1214,1533.0,1333,OO,5877,144.0,139.0,0,0,119.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1531395,2139.0,2125,2242.0,2230,WN,529,63.0,65.0,0,0,42.0,0.0
704967,1759.0,1750,2000.0,2005,AA,1983,181.0,195.0,0,0,150.0,0.0
1391020,1655.0,1540,1758.0,1650,AA,838,63.0,70.0,0,0,37.0,68.0
1097289,1333.0,1315,1501.0,1445,WN,3333,88.0,90.0,0,0,76.0,16.0
918263,2113.0,2025,2219.0,2125,WN,437,66.0,60.0,0,0,47.0,54.0

In [31]:
df1_reduit.groupby('UniqueCarrier')['ArrDelay'].sum()

UniqueCarrier
9E     242370.0
AA     903590.0
AQ        770.0
AS     143728.0
B6     303333.0
CO     421111.0
DL     446986.0
EV     387360.0
F9      75796.0
FL     317391.0
HA      25233.0
MQ     651084.0
NW     340359.0
OH     271159.0
OO     584760.0
UA     671159.0
US     365378.0
WN    1096956.0
XE     526267.0
YV     370810.0
Name: ArrDelay, dtype: float64

In [32]:
df1_reduit.groupby('UniqueCarrier')['ArrDelay'].mean()

UniqueCarrier
9E    45.747452
AA    46.139195
AQ    12.419355
AS    35.374846
B6    53.113815
CO    40.924295
DL    38.341568
EV    45.841420
F9    26.181693
FL    42.200638
HA    33.245059
MQ    43.912052
NW    41.669809
OH    49.681019
OO    43.270682
UA    46.540392
US    35.733790
WN    28.429597
XE    49.064609
YV    53.709444
Name: ArrDelay, dtype: float64

In [33]:
df1_reduit.groupby('UniqueCarrier')['ArrDelay'].count()

UniqueCarrier
9E     5298
AA    19584
AQ       62
AS     4063
B6     5711
CO    10290
DL    11658
EV     8450
F9     2895
FL     7521
HA      759
MQ    14827
NW     8168
OH     5458
OO    13514
UA    14421
US    10225
WN    38585
XE    10726
YV     6904
Name: ArrDelay, dtype: int64

In [36]:
df1_reduit['Delayed']=df1_reduit['ArrDelay']>=15
df1_reduit.head()

C:\Users\ariad\AppData\Local\Temp\ipykernel_132\573479913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_reduit['Delayed']=df1_reduit['ArrDelay']>=15

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,Cancelled,Diverted,AirTime,ArrDelay,Delayed
696875,1929.0,1900,2249.0,2220,AA,874,140.0,140.0,0,0,116.0,29.0,True
653235,804.0,720,1020.0,947,DL,1633,76.0,87.0,0,0,60.0,33.0,True
573567,1951.0,1927,2230.0,2200,DL,1859,339.0,333.0,0,0,315.0,30.0,True
1730608,1144.0,940,1355.0,1204,DL,906,131.0,144.0,0,0,103.0,111.0,True
953256,1409.0,1214,1533.0,1333,OO,5877,144.0,139.0,0,0,119.0,120.0,True

In [40]:
df1_reduit.groupby('UniqueCarrier')['Delayed'].sum().sort_values(ascending=False).head(10)
#endarreriments acumulats en funció dels minuts i les diferents aerolínies

UniqueCarrier
WN    20865
AA    13547
MQ    10163
UA     9795
OO     9137
XE     7518
DL     7392
US     6215
CO     6148
EV     5892
Name: Delayed, dtype: int64

In [46]:
vol_mes_llarg = df1_reduit.loc[df1_reduit['ActualElapsedTime'].idxmax()]
vol_mes_llarg

DepTime              1345.0
CRSDepTime             1320
ArrTime              1936.0
CRSArrTime             1820
UniqueCarrier            CO
FlightNum                15
ActualElapsedTime     711.0
CRSElapsedTime        660.0
Cancelled                 0
Diverted                  0
AirTime               655.0
ArrDelay               76.0
Delayed                True
Name: 556381, dtype: object

In [47]:
aerolinia_vol_mes_llarg = vol_mes_llarg['UniqueCarrier']
aerolinia_vol_mes_llarg

'CO'

In [50]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 435.7 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/250.0 kB 744.7 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.9 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [51]:
df1_reduit.to_excel('dataset_net_amb_noves_columnes.xlsx', index=False)